<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create Posts')"></head>
<body>
<nav th:replace="partials/navbar"></nav>
<div class="container">
    <form th:action="@{/posts/create}"  th:method="post" th:object="${post}">
            <div class="form-group">
                <label for="title">Title</label>
                <input th:field="*{title}" type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter your title">
                <small id="titleHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="description">Content</label>
                <input th:field="*{description}"  type="text" class="form-control" id="description" placeholder="Post content">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<a th:href="@{|/posts|}">View all posts</a>
<footer th:replace="partials/_footer"></footer>
<div th:replace="partials/bootsrap_srcipts"></div>
</body>
</html>






