<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:replace="partials/bootstrap_head">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar"></nav>
<div class="container">
    <form action="#" th:action="@{/posts/new}"  method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter your title">
            <small id="titleHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="description">Password</label>
            <input type="text" class="form-control" id="description" placeholder="Post content">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<footer th:replace="partials/_footer"></footer>
<div th:replace="partials/bootsrap_srcipts"></div>

</body>
</html>