<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:replace="partials/bootstrap_head">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar"></nav>
<div class="container">
    <h1>Post</h1>

    <p th:text="'Title: ' + ${title}"></p>
    <p th:text="'Content: ' + ${description}"></p>
    <a href="/posts/new">Create another post</a>

</div>
<footer th:replace="partials/_footer"></footer>
<div th:replace="partials/bootsrap_srcipts"></div>
</body>
</html>