<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Ad')">
</head>
<body>
<nav th:replace="partials/navbar"></nav>
<div class="container">
    <h1>Post</h1>
     <p th:text="${post.id}"></p>
    <p th:text="${post.title}"></p>
    <p th:text="${post.description}"></p>
    <a th:href="@{|${post.id}/delete|}">delete post</a>
    <a href="/posts/create">Create another post</a>
</div>
<footer th:replace="partials/_footer"></footer>
<div th:replace="partials/bootsrap_srcipts"></div>
</body>
</html>