<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Ads')"></head>
<body>
<nav th:replace="partials/navbar"></nav>
<a href="/posts/create">Create an Ad</a>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>url</th>

    </tr>
    <tr th:each="ad : ${ads}">
        <td th:utext="${ad.id}"></td>
        <td th:utext="${ad.title}"></td>
        <td th:utext="${ad.description}"></td>
        <td><a th:href="@{'ads/'+${ad.id}}">view</a></td>
    </tr>
</table>
<footer th:replace="partials/_footer"></footer>
<div th:replace="partials/bootsrap_srcipts"></div>
</body>
</html>