<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Roll Dice')"></head>
<body>
<nav th:replace="partials/navbar"></nav>
     <a href="/roll-dice/1">1</a>
     <a href="/roll-dice/2">2</a>
     <a href="/roll-dice/3">3</a>
     <a href="/roll-dice/4">4</a>
     <a href="/roll-dice/5">5</a>
     <a href="/roll-dice/6">6</a>
<footer th:replace="/partials/_footer"></footer>
<script th:replace="/partials/bootsrap_srcipts"></script>

</body>
</html>